		<?xml version="1.0" encoding="UTF-8"?>
<widget id="pe.inteligente.app" version="0.0.1">
        <name>Inteligente.pe</name>
        <description>
            App test inteligente.pe
        </description>
        <author email="krebosio.18@gmail.com" href="http://inteligente.pe">
            Kevin Rebosio
        </author>
        <content src="index.html" />
        <access origin="*" />
    </widget>